//Colors
$text-color:hsl(238, 29%, 16%);
$text-soft-red:hsl(14, 88%, 65%);
$bg-soft-violet:hsl(273, 75%, 66%);
$bg-soft-blue:hsl(240, 73%, 65%);
$text-dark: hsl(237, 12%, 33%);
$text-dark-blue:hsl(240, 6%, 50%);
$Light-grayish-blue: hsl(240, 5%, 91%);

// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Kumbh Sans', sans-serif;
$font-size-base: 12px;
$line-height-base: 1.6;

