//Fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//Abstracts
@import 'abstracts/variables';



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:$bg-soft-violet;
    margin: 0;
    height: 100%;
    font-family: $font-family;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none; 
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.wrapper{
    margin: 10% 0;
    padding:1em;
    border-radius: 15px;
    background: $body-bg;
    width: 750px;
    height: 350px;  
}

.grid-container
{
     display: grid;
     grid-template-columns: repeat(2 , 1fr);
     grid-gap: 20px;
     padding: .5em;
     max-height: 250px;   
}

.showcase{
   position: relative;

  .img-1{
    position: absolute;
    left: -3.5em;
    width: 95%;
  }
  .img-2{
     margin-left: -50%;
     margin-top: -40%;
    transform: translate(-10%, 0);
  }
  .img-3{
      width: 40%;
      transform: translate(-60%, -200%);
  }

  .visible-mobile{
    display: none !important;
  }
}

.content{
    h2{
        padding-bottom: 1em;
    }
    .faq-item{  
        padding: .5em 0; 
        .question{    
            display: flex;
            justify-content: space-between;
            color:lighten($text-dark-blue ,2%);
            font-size: 1.2rem;
            padding-bottom: .2em;
            
            h6{
                &.bold{
                    color: $text-color;
                }
            }
            h6:hover{
                color: $text-soft-red;
            }

            .arrow-down{
             &.invert{
                transform: scaleY(-1);
             }
            }
         }
         .answer{
              display: none;
              font-family: $font-family;
              font-size: $font-size-base;
              line-height: $line-height-base;
              color: $text-dark-blue;
              padding-bottom: .2em;
            
              &.show {
                  display: inline-block;
              }
         }
         
    }
 
    .separator
    {
        display: block;
        width: 100%;
        border-top: 1px solid $Light-grayish-blue;
        padding: .2em 0;
      
    }
}

//Layout
@import 'layout/mobile';
