/****Large Devices , Wide Screens ****/
// @media all and (max-width:1200px){
 
// }

/****Medium Devices , Desktops ****/
@media all and (max-width:992px){
    .wrapper{
        margin: 20% 0;
        height: 100vh;
        max-width: 800px;
    }
    .grid-container
    {
         grid-template-columns: 1fr;
          padding: 0 2em;
    }
    .showcase{
        .img-1{
            width: 100%;
            left: 0;
            transform: translate(0 , -60%);
        }
        .img-2{
            width: 95%;
            margin-left: 0;
            margin-top: 0;
            transform: translate(10%, -20%);
         }

        .visible-mobile {
            display: inline !important;
            }
        .hidden-mobile {
        display: none !important;
        }
    }

    .content{
        h2{
           text-align: center;
        }
        .faq-item{  
           
            .question{    
                padding: .7em 0;
                h6{             
                    font-size: .8rem; 
                    padding-right: .5rem;     
                }        
            }
            .answer{  
                font-size: small;  
                line-height: normal;
                &.show {
                   display: inline-block;
                   width: 250px;
                   padding: .7em 0;
                }
           }
        }
    }
}


/****Small Devices , Tablets ****/
@media all and (max-width:768px){
    .wrapper{
        margin: 30% 0;
    }
}
 
@media all and (max-width:480px){
    .wrapper{
        margin: 40% 0;
        height: 80vh;
        max-width: 450px;
    }
    
    .grid-container{
       grid-template-columns: 1fr;
       grid-gap: 0;
       max-height: calc(100vh -250px);    
    }

}